/* font-family: 'Open Sans', sans-serif; */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  color:#7f7fd5;
  font-weight: 400;
}

/* --------  SECCION HEADER -------- */
.logo {
  border-radius: 50%;
  height: 100px;
}

header {
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100px;
  padding: 10px 0;
}

header .logo {
  float: left;
  display: flex;
  align-items: center;
}

header h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
  display: inline-block;
  position: relative;
  margin-left: 30px;
}

/* --------  SECCION NAV -------- */
nav {
  background-color: #7f7fd5;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 3px 6px;
  /* para que queden centrados y con padding display block */
  display: block;
  text-align: center;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul li a.active {
  background-color: rgba(0, 0, 0, 0.6);
}

/* --------  SECCION INICIO Home -------- */

.bienvenidos {
  width: 75%;
  padding-right: 10px;
  box-sizing: border-box;
}

.columnas {
  display: flex;
  justify-content: space-between;
}

.nosotros {
  background-color: #f2e3f0;
  padding: 16px;
}

.consultanos .cita {
  font-weight: bold;
  font-style: 10 px;
  font-size: 22px;
  display: block;
}

.consultanos .autor {
  font-size: 10px;
  text-align: center;
  margin: 12px 0;
}

main img {
  width: 100%;
  height: auto;
}

/* --------  SECCION FOOTER -------- */

footer {
  background-color: #7f7fd5;
  clear: both;
  padding: 5px 0;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}